body {
    background-color: black;
    color: white;
  }
@media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
  }
.white-mode {
    background-color: white;
    color: black;
}
.centered {
    text-align: center;
}

.hidden {
  visibility: hidden;
}

.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}